{% extends "landing_page.html" %}

{% block content %}

<table class="md:table-fixed">
    <thead>
      <tr>
        <th>timestamp</th>
        <th>channel</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      {% for value_query in value_query %}
      <tr>
        <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
        <td>Malcolm Lockyer</td>
        <td>1961</td>
      </tr>
      <tr>
        <td>Witchy Woman</td>
        <td>The Eagles</td>
        <td>1972</td>
      </tr> 
      <tr>
        <td>{{ value_query.timestamp }}</td>
        <td>{{ value_query.channel }}</td>
        <td>{{ value_query.measure_value }}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
{% endblock %}
